@import url('layout.css');

body {
    background-color: rgba(164, 171, 173, 0.763);
   }
   #container {  
       display: flex;        
       align-items: center;
       width: 100%;
       
   }
   
   #form-container {
       width: 43%;
       padding: 20px;
       border: 1px solid #ccc;
       border-radius: 22px;
       background-color: #f9f9f9;
       margin: 0 auto;
   }
   form {
       margin: 10px;
   }
   label {
       display: block;
       margin-bottom: 10px;
   }
   input[type="text"],
   select {
       width: 100%;
       padding: 5px;
       margin-bottom: 10px;
       box-sizing: border-box;
   }
   input[type="submit"] {
       background-color: #4CAF50;
       color: white;
       padding: 10px 20px;
       border: none;
       cursor: pointer;
   }
   input[type="submit"]:hover {
       background-color: #45a049;
   }
   
   .form-row {
       margin-bottom: 15px;
       overflow: hidden;
   }
   .form-group {
       float: left;
       width: 48%;
       margin-right: 2%;
   }
   .form-group:last-child {
       margin-right: 0;
   }
   
   select {
       width: 200px;
       height: 40px;
   }
   
   .body-container {
       display: flex;
       justify-content: center;
       
   }
   
   .left-image,
   .right-image {
       width: 29%; 
       height: 570px; 
   }
   
   .footer-content {
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 20px;
       background-color: #333;
       color: #fff;
       position: fixed;
       bottom: 0;
       height: 100px;
   }
   
   .logo-img {
       height: 60px; /* Adjust as needed */
       width: auto; /* Maintain aspect ratio */
       margin-right: 20px; /* Adjust spacing between logo and line */
       border-radius: 25px;
   }
   
   .vertical-line {
       height: 60px; /* Adjust height to match logo */
       width: 1px; /* Adjust line thickness */
       background-color: #fff; /* Adjust line color */
       margin: 0 20px; /* Adjust spacing around the line */
   }
   
   .footer-info {
       text-align: left;
   }
   