@import url('layout.css');

::-webkit-scrollbar {
    display: none;
}

.contactlogo
{
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
}
.contactlogo > iframe
{
    height: 32vh;
}

.accordion
{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}

.accordion-item
{
    width: 70%;
    align-self: center;
    background-color: #9CFFAA;
}
.accordion-button
{
    background-color: #1ECF36;
}