{% extends 'layout.html' %}

{%  block title %} Crop Recommendation-AgriInnovative {% endblock %}
{%block styles%} <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename= 'css/crop_recommendation_styles.css' ) }}"> {% endblock %}

{%block body %}

    <div class="container">
        <div class="side-images">
            <img src="https://images.unsplash.com/photo-1544961371-516024f8e267?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Left Image">
        </div>
        <div class="form-container">
            <form action="#" method="POST">
                <h2> CROP Form</h2>
                <input type="text" name="input1" placeholder="Input 1"><br>
                <input type="text" name="input2" placeholder="Input 2"><br>
                <input type="text" name="input3" placeholder="Input 3"><br>
                <input type="text" name="input4" placeholder="Input 4"><br>
                <input type="text" name="input5" placeholder="Input 5"><br>
                <input type="text" name="input6" placeholder="Input 6"><br>
                <input type="text" name="input7" placeholder="Input 7"><br>
                <input type="text" name="input8" placeholder="Input 8"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="side-images">
            <img src="https://images.unsplash.com/photo-1563207937-508961e52353?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Right Image">
        </div>
    </div>



{% endblock %}
