{% extends 'layout.html' %}

{% block title %} Services - AgriInnovative {% endblock %}

{% block styles %}  <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/services_styles.css') }}" > {% endblock %}


{% block body %}

      <h2 class="heading">SERVICES WE PROVIDE</h2>
      <br>
      <div class="cardsec">
      <div class="card">
        <div class="face front">
            <img src="../static/images/suitable_market.jpg" alt="suitable_market_image">
            <h6>Find Suitable market</h6>
        </div>
        <div class="face back">
            <h6>Find Suitable market</h6>
            <p>Find suitable market to sell crop</p>
            <div class="link">
                <a href="{{url_for('suitable_market')}}">Click here</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face front">
            <img src="../static/images/crop_disease_identification.png" alt="crop_disease_identification_image">
            <h6>Disease Identification</h6>
        </div>
        <div class="face back">
            <h6>Disease Identification</h6>
            <p>Predicts the disease caught by your crop</p>
            <div class="link">
                <a href="{{url_for('disease_identification')}}">Click here</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face front">
            <img src="../static/images/fertilizer_recommendation.png" alt="fertilizer_recommendation_image">
            <h6>Fertilizer recommendation</h6>
        </div>
        <div class="face back">
            <h6>Fertilizer recommendation</h6>
            <p>Recommends Fertilizer to your crop</p>
            <div class="link">
                <a href="{{url_for('fertilizer_recommendation')}}">Click here</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../static/images/crop_recommendation.png" alt="crop_recommendation_image">
            <h6>Crop Recommendation</h6>
        </div>
        <div class="face back">
            <h6>Crop Recommendation</h6>
            <p>Recommends you appropriate crop in your area </p>
            <div class="link">
                <a href="{{url_for('crop_recommendation')}}">Click here</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../static/images/check_weather.png" alt="Weather Check Image"/>
            <h6>Check Weather</h6>
        </div>
        <div class="face back">
            <h6>Check weather</h6>
            <p>Check the current weather forecast</p>
            <div class="link">
                <a href="{{ url_for('check_weather') }}">Click here</a>
            </div>
        </div>
    </div>
</div>
<p class="desc"><img src="https://cdn-icons-png.flaticon.com/128/3196/3196633.png" alt="" class="leaf"><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eligendi fugiat, esse, qui voluptate eos consequuntur totam in ut nemo mollitia ullam optio aliquid, autem voluptas aperiam ea dolorem numquam?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima porro quam dolores amet neque distinctio quaerat, numquam illum earum quibusdam dolorem ipsa cumque voluptate officia cum ullam tempore esse nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem possimus quo earum sed praesentium saepe maxime nam sequi tenetur neque. 
    Veniam, corrupti minima ea ex quia fuga exercitationem accusamus at?</p>

    {% endblock %}